body {
    background-color: rgb(0, 0, 0);

}

.container {
    width: 600px;
    height: 400px;
    display: block;
    position: relative;
    top: 50px;
    margin: 0 auto;
    text-align: center;
    color: orange;
    font-family: 'Raleway Dots';
    font-size: 24px;
    text-shadow: 0 0 7px #bc551e, 0 0 10px #f88705, 0 0 42px #a46206, 0 0 80px #e66312;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    margin: 10px;
}

.wrapper .separator {
    margin: 0 10px;
}

.wrapper span {
    display: flex;
    border: solid 1px rgba(250, 152, 6, 0.265);
    border-radius: 20px 20px 5px 5px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-family: 'Raleway Dots';
    font-weight: bolder;
    /* border: solid #fc8702 1px; */
    /* background: linear-gradient(to bottom, #973d0524, #030303); */
    box-shadow: inset -2px -2px 8px rgba(227, 139, 8, 0.495), inset 2px 2px 8px rgba(255, 255, 255, 0.5);
}

.btn button {
    font-size: 18px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Raleway Dots';
    color: rgb(253, 162, 4);
    background-color: rgb(27, 25, 25);
    width: 20%;
    padding: 5px;
    margin: 15px;
    box-shadow: 1px 1px 5px orange;
    border-style: hidden;
    border-radius: 15px;
    position: relative;
    top: 30px;
    text-shadow: 0 0 7px #bc551e, 0 0 10px #f88705, 0 0 42px #eca118, 0 0 80px #e66312, 0 0 100px #e66712;
}

.btn button:hover {
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 0px 5px 1px orange;
}

#laps div {
    display: block;
    position: relative;
    top: 30px;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 5px;
    border-bottom: solid 1px black;
    text-shadow: 0 0 7px #bc551e, 0 0 10px #f88705, 0 0 42px #eca118, 0 0 80px #e66312, 0 0 100px #e66712;
}

#laps div.lap {
    font-size: 20px;
    margin-top: 5px;
    font-weight: bolder;
    /* font-family: 'Courier New', Courier, monospace; */
    text-shadow: 0 0 7px #bc551e, 0 0 10px #f88705, 0 0 42px #eca118, 0 0 80px #e66312, 0 0 100px #e66712;
}

.wrapper .min span,
.wrapper .sec span,
.wrapper .milli span {
    display: inline-block;
    width: 40px;
    height: 60px;
    /* font-weight: bolder; */
    /* text-align: center; */
    font-size: 50px;
    color: rgb(254, 137, 2);
    margin: 0 2px;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent,#0004); */
    text-shadow: 0 0 7px #bc551e, 0 0 10px #f88705, 0 0 42px #eca118, 0 0 80px #e66312, 0 0 100px #e66712;
}